*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis definidas */

:root { 
    --cor-principal: rgb(194, 165, 72);
    --cor-secundaria: rgb(0, 0, 0);
    --fonte: arial;
    --sombra: 0 15px 25px rgba(0,0,0,.30);
    --raio: 5px;
    --cor-branca: rgb(255, 255, 255);
}

/* Corpo do site */

body { 
    font-family: var(--fonte);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

/* menu do site */

main {
    flex: 1;
}

/* cabeçalho do site, incluindo a navegação (nav)*/

header {
    background-color: var(--cor-principal);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--cor-secundaria);
}

/* navegação (nav) */

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: var(--cor-branca);
    padding: 8px 16px;
    font-weight: bolder;
    border-radius: 10px;
    transition: background .2s;
}

nav a:hover, nav a.ativo {
    background: rgba(255,255,255,.15);
}

/* Estilo dos subtítulos */

h2 {
    margin: 45px 20px;
    font-size: 25px;
}

/* Formulário de cadastro de filme */

form {
    margin: 30px;
}

fieldset {
    padding: 20px 0 20px 15px;
    border-radius: var(--raio);
    box-shadow: var(--sombra);
}

label, input {
    margin: 10px 0;
}

label {
    font-size: 18px;
    background-color: rgb(194, 165, 72, 0.5);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

input {
    padding: 6px;
    border-radius: 10px;
}

legend {
    background-color: var(--cor-principal);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

button {
    margin: 35px 0;
    padding: 8px 16px;
    border-radius: 15px;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    font-weight: bold;
    border: 1px solid var(--cor-principal);
    box-shadow: var(--sombra);
}

/* seção do hero */

.hero {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/Desafio/imagens/img.locamais.webp);
    height: 400px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: var(--sombra);
}

.texto-hero {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
}

.texto-hero h3 {
    margin: 10px 0;
    margin-bottom: 15px;
    color: var(--cor-secundaria);
}

.texto-hero p {
    margin: 10px 0;
    color: var(--cor-secundaria);
}

/* Lista da seção Quem somos */

.quem-somos ul li {
    background-color: rgb(194, 165, 72, 0.5);
    padding: 15px;
    border-radius: var(--raio);
    font-size: 18px;
}

/* Lista da seção Sobre */

.sobre ul { /* Listas da seção Sobre  */
    background-color: rgb(194, 165, 72, 0.5);
    padding: 15px;
    border-radius: var(--raio);
    font-size: 18px;
    margin: 0 20px;
}

/* estilo das listas não ordenadas  */

ul li {
   margin: 0 0 0 40px; 
}

/* Galeria de imagens de filmes */

img {
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.galeria-de-filmes {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 30px;
}

.galeria-de-filmes img {
    border-radius: 5px 5px 0 0;
    box-shadow: var(--sombra);
    transition: transform .3s, opacity .3s;
} 

.galeria-de-filmes figcaption {
    background-color: var(--cor-principal);
    text-align: center;
    font-weight: bold;
    margin: -6px 0 0 0;
    border-radius: var(--raio);
    padding: 7px;
}

.galeria-de-filmes figure:hover img {
    transform: scale(1.01);
    opacity: .90;
}

/* Seção do Contato */

.contato {
    background-color: rgb(194, 165, 72, 0.5);
    padding: 25px;
    margin: 0 20px 60px 20px;
    border-radius: var(--raio);
}

.contato p {
    margin-bottom: 10px;
    font-size: 18px;
}

/* seção do cadastro de filmes */

.card {
    background-color: rgb(194, 165, 72, 0.5);
    border-radius: 15px;
    box-shadow: var(--sombra);
    padding: 25px;
    margin: 20px;
}

.listas-contato {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.listas-contato p {
    margin: 20px;
}

.listas-contato button {
    display: flex;
    margin: auto;
} 

/* rodapé do site  */

footer { 
    background-color: var(--cor-secundaria);
    padding: 40px;
    color: var(--cor-branca);
    text-align: center;
}