*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis definidas */

:root { 
    --cor-principal: rgba(204, 209, 209, 0.5);
    --cor-secundaria: rgba(0, 0, 0, 0.7);
    --fonte: "Stack Sans Text", sans-serif;;
    --sombra: 0 10px 20px rgba(0, 0, 0, .2);
    --raio: 10px;
}

/* Corpo do site */

body { 
    font-family: var(--fonte);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

/* Menu do site */

main {
    flex: 1;
}

/* Cabeçalho do site, incluindo a navegação (nav)*/

header {
    background-color: var(--cor-principal);
    padding: 30px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    text-decoration: none;
    font-family: var(--fonte);
    color: var(--cor-secundaria);
}

/* Navegação (nav) */

nav {
    display: flex;
    gap: 5px;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    font-weight: 500;
    border-radius: var(--raio);
    transition: .3s;
    background-color: rgba(204, 209, 209, 0.4);
    border: 1px solid rgba(211, 202, 202, 0.5);
}

nav a:hover, nav a.ativo {
    transform: scale(1.03);
    background: rgb(184, 189, 189);
    color: rgba(0, 0, 0, 0.7);
}

/* Estilo dos subtítulos */

h2 {
    margin: 50px 20px;
    font-size: 45px;
    text-align: center;
    color: var(--cor-secundaria);
}

/* Seção do hero */

.hero {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/Aula-12-Js/Desafio/imagens/img.locamais.webp);
    height: 400px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: var(--sombra);
}

.texto-hero {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
}

.texto-hero h3 {
    margin: 10px 0;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.texto-hero p {
    margin: 10px 0;
    color: var(--cor-secundaria);
    font-weight: 500;
    font-size: 18px;
}

/* Div da seção Quem somos */

.quem-somos {
    padding: 25px;
    background-color: var(--cor-principal);
    border-radius: var(--raio);
    font-size: 19px;
    font-weight: 300;
    margin: 0 100px;
    box-shadow: var(--sombra);
}

/* Galeria de imagens de filmes */

img {
    object-fit: cover;
    width: 250px;
    height: 330px;
}

.galeria-de-filmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 30px;
}

.galeria-de-filmes img {
    border-radius: 5px 5px 0 0;
    box-shadow: var(--sombra);
    transition: transform .3s, opacity .3s;
} 

.galeria-de-filmes figcaption {
    background-color: var(--cor-principal);
    text-align: center;
    font-weight: bold;
    margin: -6px 0 0 0;
    border-radius: var(--raio);
    padding: 7px;
}

.galeria-de-filmes figure:hover img {
    transform: scale(1.01);
    opacity: .90;
}

/* Seção do Contato */

.contato {
    background-color: var(--cor-principal);
    padding: 25px;
    margin: 0 100px 110px;
    border-radius: var(--raio);
    box-shadow: var(--sombra);
}

.contato p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
}

/* Div da seção Sobre */

.sobre-nos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--cor-principal);
    padding: 20px;
    border-radius: var(--raio);
    font-size: 18px;
    margin: 0 100px 110px;
    box-shadow: var(--sombra);
    font-weight: 300;
}

/* Formulário de cadastro de filme */

form {
    margin: 30px 40px 60px;
    padding: 30px 25px;
    border-radius: var(--raio);
    box-shadow: var(--sombra);
    border: 0 solid;
    display: flex;
    flex-direction: column;
    background-color: rgba(204, 209, 209, 0.5);
}

.cadastro {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(44, 44, 44);
}

.cadastro label {
    font-size: 19px;
    font-weight: 500;
}

.cadastro input {
    padding: 20px;
    border-radius: var(--raio);
    border: 0 solid;
    background-color: rgb(255, 255, 255);
    font-size: 19px;
}

.cadastro input::placeholder {
    font-size: 18px;
    font-family: var(--fonte);
}

.cadastro input:focus {
    outline: none;
    border: 1px solid rgb(138, 134, 134);
}

.enviar {
    width: 100%;
    margin: 35px 0 25px;
    padding: 13px 18px;
    border-radius: 15px;
    background-color: rgba(158, 154, 154, 0.8);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--cor-principal);
    box-shadow: var(--sombra);
    transition: .4s;
}

.enviar:hover {
    transform: scale(1.01 );
    background-color: rgb(255, 0, 0, 0.6);
} 

/* Seção do cadastro de filmes */

#lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0 100px 0;
}

#lista p {
    margin: 20px;
}

#lista button {
    display: flex;
    margin: auto;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(255, 0, 0, 0.6);
    border: 1px solid var(--cor-principal);
    font-weight: bold;
    font-family: var(--fonte);
} 

.card {
    text-align: center;
    background-color: var(--cor-principal);
    border-radius: 15px;
    box-shadow: var(--sombra);
    padding: 25px;
    margin: 30px 0 10px;
    font-family: var(--fonte);
    font-size: 18px;
}

/* Rodapé do site  */

footer { 
    background-color: black;
    padding: 60px;
    color: white;
    text-align: center;
}

@media (max-width: 500px) {
    .container-header {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
